<template>
	<div class="twitter grid-x">
		<div class="cell small-3">
			<img :src="img"/>
		</div>
		<div class="cell small-9">
			<span class="name">{{ name }}</span>
			<span class="twitterurl"><a href="">{{ twittername }}</a></span>
		</div>
		<div class="cell small-12 text-right">
			<span class="price">${{ price }}</span>
		</div>
	</div>
</template>

<script>
export default {
  name: 'TwitterAccount',
  props: {
    name: String,
    img: String,
    price: String,
    twitterurl: String,
    twittername: String
  }
}
</script>