<template>
  <div id="app">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 text-center" id="logo">
          <img alt="Twidaq logo" src="./assets/twidaq-brand.png">
        </div>
        <div class="cell grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
          <div class="cell" v-for="twitterFeed in twitterFeeds" v-bind:key="twitterFeed.id">
            <TwitterAccount
              :name="twitterFeed.name"
              :img="twitterFeed.img"
              :price="twitterFeed.price"
              :twitterurl="twitterFeed.twitterurl"
              :twittername="twitterFeed.twittername"
            />
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</template>

<script>
import TwitterAccount from './components/TwitterAccount.vue'

import trump from './assets/trump.png'
import biden from './assets/biden.png'
import sanders from './assets/sanders.png'
import williamson from './assets/williamson.png'
import warren from './assets/warren.png'
import harris from './assets/harris.png'

export default {
  name: 'app',
  components: {
    TwitterAccount
  },
  data () {
    return {
      twitterFeeds: [
        {
          id: 1,
          name : 'Donald J. Trump',
          img : trump,
          price: '49.59',
          twitterurl : null,
          twittername : '@realdonaldtrump'
        },
        {
          id: 2,
          name : 'Joe Biden',
          img : biden,
          price: '35.69',
          twitterurl : null,
          twittername : '@joebiden'
        },
        {
          id: 3,
          name : 'Bernie Sanders',
          img : sanders,
          price: '28.29',
          twitterurl : null,
          twittername : '@berniesanders'
        },
        {
          id: 4,
          name : 'Marianne Williamson',
          img : williamson,
          price: '25.61',
          twitterurl : null,
          twittername : '@marwilliamson'
        },
        {
          id: 5,
          name : 'Elizabeth Warren',
          img : warren,
          price: '25.51',
          twitterurl : null,
          twittername : '@ewarren'
        },
        {
          id: 6,
          name : 'Kamala Harris',
          img : harris,
          price: '24.45',
          twitterurl : null,
          twittername : '@kamalaharris'
        }
      ]
    }
  }
}
</script>
