@import './Settings';

@import '~foundation-sites/assets/foundation';

#logo{
	line-height: 25vh;
	img{
		max-width: rem-calc(165);
	}
}

.twitter{
	background-color: $white;
	border-radius:rem-calc(4);
	height: rem-calc(112);
	padding: rem-calc(10) rem-calc(20);
	margin-bottom: rem-calc(50);
	.name{
		display: block;
		font-size:rem-calc(16);
	}
	.twitterurl{
		font-size:rem-calc(13);
	}
	.price{
		font-size:rem-calc(38);
	}
}